
<mat-form-field class="field" [formGroup]="group">
  <label for="field.name" class="field__label">{{field.label}}</label>
  <input matInput class="field__input field__input--medium" [formControlName]="field.name" placeholder="00000-000" [type]="field.inputType" mask="{{field.mask}}">
  <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
    <mat-error class="field__error" *ngIf="group.get(field.name).hasError(validation.name)">{{validation.message}}</mat-error>
  </ng-container>
</mat-form-field>