<div class="box" [ngSwitch]="status">
  <ng-container *ngIf="openBox">
    <div *ngSwitchCase="'success'" class="box--success">
      <i class="material-icons box__btnclose" title="fechar" (click)="openBox = !openBox">close</i>
      <p class="box__text box__text--highlight">{{address.logradouro}}</p>
      <p class="box__text">{{address.bairro}}</p>
      <p class="box__text">{{address.localidade}} - {{address.uf}}</p>
      <p class="box__text">{{address.cep}}</p>
      <img class="box__img" src="../../../assets/map.jpg" alt="Mapa" />
    </div>
  </ng-container>
  <div *ngSwitchCase="'loading'" class="box--loading"></div>
  <div *ngSwitchCase="'error'" class="box--error">
    <p class="box__msg box__msg--error">
      CEP Inválido
    </p>
  </div>
  <div *ngIf="!openBox" class="box--default">
    <p class="box__msg">
      Insira seu CEP para consultar o endereço
    </p>
  </div>
</div>
